 @font-face {
    font-family: 'fa-regular';
    src: url('fa-regular-400.woff2') format('woff2'),
         url('feather.ttf') format('truetype');
         font-weight: 400;
    
}

.dropdown-toggle::after {
    display: none;
}

.bi-chevron-down {
    font-size: 12px;
    -webkit-text-stroke: 1px grey;
    
}

.nav-link , .dropdown-item{
    font-family: "fa-regular", sans-serif;
    font-size: 1rem;   
}

.navbar-toggler{
    border: solid 2px #7450fe;
    padding: 0px;   
   
}

.navbar {
    padding: 0px;    
}

#one {
    background-color: #7450fe;
}

h4 {
    font-family: "fa-regular", sans-serif;
    font-size: clamp(1.125rem, 0.9241rem + 1.0714vw, 1.6875rem);
}

.btn-brrowseCurses {
    background-color:#1acb98;
    border-color: #1acb98;
}

#two i {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #c18134;
    background-color: #ffeeda;
    font-size: 25px;
}

h5 {
    font-family: "fa-regular", sans-serif;
    
}


.bi-reception-4, .bi-reception-3, .bi-reception-1 {
    color: #7450fe;
}

.bi-star-fill, .bi-star-half, .bi-star, .review {
    color:#feaa45 ;
}


.carousel-control-prev {
    left: -150px;
  }
  
  .carousel-control-next {
    right: -127px; 

  }

  .bi-chevron-right, .bi-chevron-left {
    color: #7450fe;
    -webkit-text-stroke: 3px #7450fe;
  }

  